.order {
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  &--login {
    .order__form {
      margin-right: auto;
    }
  }
}

.order__form {
  width: 590px;
  max-width: 100%;
  margin-left: auto;
  padding: 60px 100px;
  background-color: rgba(255, 255, 255, 0.8);
  
  .title-center {
    font-size: 24px;
    letter-spacing: normal;
  }
}
