.title-main {
  position: relative;
  margin-top: 0;
  margin-bottom: 55px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 7px;
    max-width: 100%;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgb(244,132,26) 50%, rgba(255,255,255,0) 100%);
  }
}

h2,
.title {
  position: relative;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 100.3%;
    width: 400px;
    height: 20px;
    background-image: linear-gradient(to left, rgb(244,132,26) 0%, rgb(255,255,255) 100%);
  }
}

.title-center {
  position: relative;
  margin-top: 0;
  padding-bottom: 5px;
//  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 4px;
    max-width: 100%;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgb(244,132,26) 50%, rgba(255,255,255,0) 100%);
  }
}

.title-internal {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  line-height: 1.2;
  
  &::before {
    content: "";
    position: absolute;
    top: 11px;
    right: 100.3%;
    width: 400px;
    height: 36px;
    background-image: linear-gradient(to left, rgb(244,132,26) 0%, rgba(255,255,255,0) 100%);
  }
}

.title-left {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 3px;
    max-width: 100%;
    background-image: linear-gradient(to right, rgb(244,132,26) 0%, rgba(255,255,255) 100%);
  }
  
  a {
    .transition();
    
    &:hover,
    &:active {
      color: @orange;
      .transition();
    }
  }
}
